.buttonContainer {
  width: 11.3125rem;
  height: 2.9375rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 2rem;

}

.buttonImg {
  width: 2.25rem;
  height: 1.57rem;
  
}
